nav {
    width: 100%;
}

.nav {
    width: 100%;
    height: 200px;
    display: flex;
    position: fixed;
}

.logo-img img{
    width: 125px;
    margin-left: 200px;
}

.container-nav-li ul {
    display: flex;
    list-style-type: none;
    margin-left: 300px;
}

.container-nav-li li {
    margin: 25px;
    color: white;
    font-weight: bold;
}

.container-one-image {
    width: 100%;
    height: 700px;
    background-image: url(../image/images/Untitled-111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container-one-image p {
    padding-top: 300px;
    text-align: center;
}
